html,body,*,::before,::after {
  box-sizing: border-box;
}
body {
  font-family: $font_primary;
  font-size: 16px;
  line-height: 1.4;
  color: $color_text_main;
}
p {
  line-height: 1.5;
}
.entry-content a {
  display: inline-block;
  color: $color_primary;
  text-decoration: underline;
  text-underline-offset: 3px;
  &:hover {
    transform: translateY(-1px);
    text-decoration: none;
  }
  &:focus {
    outline: 1px dotted $color_primary;
  }
}
a,input,button,textarea,select {
  transition: all ease .3s;
}
.skip-link {
  position: fixed;
  top: -100px;
  left: 10px;
  background: #000;
  color: #FFF;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,.25);
  z-index: -999;
  opacity: 0;
  font-size: 18px;
  transition: all ease .3s;
  &:focus {
    top: 10px;
    opacity: 1;
    z-index: 9999;
  }
}
.gform_wrapper {
  // background: #f9f9f9;
  background: rgba($color_teal,65%);
  padding: 20px;
  @include tab {
    padding: 30px;
  }
  input, button, textarea, select {
    border-radius: 0!important;
    transition: all ease .3s;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="phone"],
  textarea,
  select {
    border: 1px solid #000;
  }
  .gform_button.button {
    background: $color_primary!important;
    color: #FFF!important;
    font-size: 17px!important;
    text-transform: uppercase!important;
    letter-spacing: 0.03em!important;
    padding: 13px 20px 12px!important;
    &:hover {
      background: black!important;
    }
  }
}
.site {
  position: relative;
  overflow: hidden;
}
.site-header {
  width: 100%;
  background: #FFF;
  position: relative;
  z-index: 200;
  padding-left: 30px;
  padding-right: 30px;
  @include tab {
    padding-left: 70px;
    padding-right: 70px;
  }
  .header-inner {
    max-width: $wrapper;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    ul.menu {
      margin: 0 0;
      padding: 0 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      .submenu-toggle {
        display: none!important;
      }
      > li {
        padding: 25px 0;
        position: relative;
        &:after {
          content:"";
          display: block;
          width: 0;
          height: 6px;
          background: $color_primary;
          position: absolute;
          left: 8px;
          bottom: 0;
          transition: all ease .3s;
        }
      }
      > li:hover,
      > li:focus-within {
        &:after {
          width: calc(100% - 16px);
        }
      }
      > li > a {
        display: block;
        color: #000;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 10px;
        &:hover, &:focus {
          color: $color_primary;
        }
      }
    }

    ul.menu ul {
      margin: 24px 0 0;
      padding: 15px 0;
      list-style: none;
      position: absolute;
      left: 8px;
      width: 240px;
      background: #000;
      display: none;
      animation-fill-mode: both;
      animation-duration: 0.5s;
      box-shadow: 0 2px 5px rgba(0,0,0,.15);
      a {
        display: block;
        padding: 8px 15px;
        color: #FFF;
        font-weight: 500;
        text-decoration: none;
        &:hover, &:focus {
          color: $color_primary;
        }
      }
    }

    ul.menu > li:hover > ul {
      display: block;
      animation-name: navDropdownEffect;
    }
  }

  @keyframes navDropdownEffect {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .site-logo {
    width: 300px;
    a, img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.MobileHeader {
  display: none;
}

.wrapper {
  max-width: $wrapper;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @include tab {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid $color_primary;
  border-radius: 0;
  padding: 10px 20px 5px;
  font-family: $font_cursive;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;
  transition: all ease .4s;
  position: relative;
  overflow: hidden;
  z-index: 2;
  &:after {
    content:"";
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $color_primary;
    transition: all ease .3s;
    z-index: -1;
  }
  &:hover, &:focus {
    color: #FFF;
    &:after {
      width: 100%;
    }
  }
}

/*===== FLEXIBLE CONTENT =====*/
.repeatable {
  padding-top: 40px;
  padding-bottom: 40px;
  @include tab {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &:first-child {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.first-section:not(.repeatable_hero) {
    padding-top: 40px;
    padding-bottom: 40px;
    @include tab {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  &:last-child {
    @media screen and (max-width: $md + 1px) {
      padding-bottom: 70px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
.repeatable_hero {
  position: relative;
  overflow: hidden;
  figure, figcaption {
    margin: 0 0;
  }
  figure {
    position: relative;
    min-height: 600px;
    .imageWrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
    }
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .imageText {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      padding: 30px;
      text-align: center;
      .title {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
        color: #FFF;
        text-shadow: 0 4px 8px rgba(0, 0, 0, .85);
      }
      .text {
        p {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.3;
          text-shadow: 0 2px 5px rgba(0, 0, 0, .85);
          color: #FFF;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.3rem;
      margin-top: 30px;
      a {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 0;
        background: #000;
        text-decoration: none;
        color: #FFF;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.03em;
        &:hover, &:focus {
          background: #FFF;
          color: #000;
        }
      }
    }
  }
}
.repeatable_hero.hero-type-slider {
  .hero-slider {
    overflow: hidden;
    position: relative;
    height: 600px;
  }
  .swiper-container,
  .swiper-wrapper,
  .slideImage,
  .slideCaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .slideImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .slideCaption {
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .wrap {
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
      padding: 30px;
      text-align: center;
      .title {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
        color: #FFF;
        text-shadow: 0 4px 8px rgba(0, 0, 0, .85);
      }
      .text {
        p {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.3;
          text-shadow: 0 2px 5px rgba(0, 0, 0, .85);
          color: #FFF;
        }
      }
      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
        margin-top: 30px;
        a {
          display: inline-block;
          padding: 10px 15px;
          border-radius: 0;
          background: #000;
          text-decoration: none;
          color: #FFF;
          font-size: 15px;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: 0.03em;
          &:hover, &:focus {
            background: #FFF;
            color: #000;
          }
        }
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    &:after {
      color: #FFF;
      font-size: 30px;
    }
  }
  .swiper-pagination {
    bottom: 20px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #FFF;
    opacity: 1;
    box-shadow:0 2px 5px rgba(0,0,0,.65);
    &.swiper-pagination-bullet-active {
      background-color: #e0c397;
    }
  }
}
.repeatable_image_and_text_block {
  &[class*="next-"] {
    padding-bottom: 20px;
    @include tab {
      padding-bottom: 30px;
    }
  }

  .flexwrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .imageCol {
      width: 50%;
      position: relative;
      figure {
        margin: 0 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      figcaption {
        padding: 8px 0;
        font-size: 14px;
        line-height: 1.3;
      }
    }
    .textCol {
      width: 50%;
      background: $color_secondary;
      color: #000;
      font-size: 18px;
      padding: 50px 100px;
      padding-left: 50px;
      position: relative;
      overflow: visible;
      &:before {
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $color_secondary;
        transform: scale(1.2);
      }
      .wrap {
        position: relative;
        z-index: 5;
      }
    }
    p {
      margin-top: 0;
      margin-bottom: 1em;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.5;
    }
    p:last-child {
      margin-bottom: 0;
    }
    p:has(.custom-button-element) {
      margin-top: 40px;
      margin-bottom: 0;
    }
    .custom-button-element {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .gform_wrapper {
    background: transparent!important;
    padding: 0 0!important;
  }

  .textCol:has(p):has(.gform_wrapper) {
    .gform_wrapper {
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 960px) {
    .flexwrap {
      .imageCol, .textCol {
        width: 100%;
      }
      .imageCol {
        top: 15px;
      }
      .textCol {
        padding: 40px 40px 50px;
      }
      .textCol:before {
        display: none;
      }
    } 
  }
}
.repeatable_image_and_text_block.overlap-image {
  padding-top: 80px;
  padding-bottom: 80px;
  .flexwrap {
    .imageCol {
      position: relative;
      left: 5px;
      z-index: 20;
      width: 28%;
      figure {
        position: relative;
        padding-bottom: 100%;
        @media screen and (max-width: 1380px) {
          padding-bottom: 130%;
        }
        &:before {
          content:"";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: -25px;
          left: -25px;
          border: 2px solid $color_primary;
          z-index: 5;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .textCol {
      width: 60%;
      padding: 70px 70px;
      @media screen and (max-width: 1380px) {
        width: 65%;
      }
      &:before {
        display: none;
      }
      .padleft {
        position: absolute;
        top: 0;
        left: -20%;
        width: 100%;
        height: 100%;
      }
      .wrap {
        position: relative;
        z-index: 10;
      }
      h2:has(em), h3:has(em) {
        font-family: $font_cursive!important;
        font-size: 35px;
        font-weight: normal;
        line-height: 1.2;
        margin: 30px 0 0;
        em {
          font-style: normal!important;
        }
      }
      h3:has(em) {
        font-size: 35px;
      }
    }
  }
  .flexwrap:has(.imageCol):has(.textCol) {
    .textCol {
      @include tab {
        min-height: 630px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .wrap {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 960px) {
    &:has(.imageCol):has(.textCol) {
      padding-top: 20px;
    }
    .flexwrap {
      .textCol {
        width: 100%;
        padding: 30px;
        .padleft {
          display: none;
        }
      }
      &:has(.imageCol):has(.textCol) {
        .textCol {
          padding-top: 130px;
        }
        .imageCol {
          max-width: 280px;
          width: 100%;
          top: 110px;
          figure {
            padding-bottom: 110%;
          }
          figure:before {
            top: -20px;
            left: -20px;
          }
        }
      }
    }
  }
}
.repeatable_two_column_section {
  .flexwrap {
    display: flex;
    flex-wrap: wrap;
    p {
      margin-top: 0;
    }
  }
  &.two-columns {
    .flexwrap {
      justify-content: space-between;
      .leftCol, .rightCol {
        width: 100%;
        @include tab {
          width: 48%;
        }
      }
    }
  }
}
.repeatable_fullwidth_content {
  padding-bottom: 70px;
  &[class*="prev-"] {
    padding-top: 0;
  }
  &:has([class*="next-"]) {
    padding-bottom: 0;
  }
  .gform_wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
}
.flexColumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
  @include tab {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 0;
    padding-right: 0;
  }
  .flexCol {
    width: 100%;
    padding: 20px;
    @include tab {
      padding: 30px;
      width: 25%;
    }
    @include xs {
      width: 50%;
      padding: 20px;
    }
    a.imageLink {
      display: block;
      text-decoration: none!important;
      text-align: center;
      figure {
        margin: 0 0;
        position: relative;
        div.image {
          padding-bottom: 130%;
          position: relative;
          &:after {
            content:"";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 0px solid transparent;
            z-index: 10;
            opacity: 0;
            transition: border ease-in-out .3s, opacity ease .5s;
          }
          img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
          }
        }
        figcaption {
          margin: 15px 0 0;
          font-size: 15px;
          line-height: 1.3;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: $color_text_main;
          transition: all ease .3s;
        }
      }

      &:hover, &:focus {
        outline: 0;
        figure div.image:after {
          opacity: 1;
          border: 5px solid $color_primary;
        }
        figcaption {
          color: $color_primary;
        }
      }
    }
  }
}

.section-intro {
  text-align: center;
  margin-bottom: 10px;
  .section-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.2em;
    margin: 0 0;
    text-transform: uppercase;
  }
  .section-text {
    font-weight: 300;
    line-height: 1.5;
  }
}

.site-footer {
  background: $color_secondary;
  padding-top: 60px;
  .top {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    .wrapper {
      max-width: unset;
      width: auto;
      border-bottom: 1px solid $color_primary;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .footerNav {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    text-align: center;
    li {
      margin: 1px 0;
    }
    a {
      display: inline-block;
      font-size: 13px;
      line-height: 1.2;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
      padding: 3px 2px;
      &:hover, &:focus {
        color: $color_primary;
      }
    }
  }
  .flexwrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-betwen;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    .footCol {
      padding: 15px 5vw;
      position: relative;
      &:before {
        content:"";
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $color_primary;
      }
      &.footLogo {
        margin: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 280px;
          height: auto;
        }
      }
      &:first-child {
        padding-left: 2vw;
      }
      &:last-child {
        padding-right: 2vw;
      }
      &:first-child:before {
        display: none;
      }
    }
  }

  .bottom {

  }
  .social-media {
    margin: 0 0;
    padding: 30px 0 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 100px;
      background-color: #FFF;
      color: $color_primary;
      font-size: 15px;
      line-height: 1;
      text-decoration: none;
      &:hover, &:focus {
        background-color: $color_primary;
        i {
          color: #FFF;
        }
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
    text-transform: uppercase;
    color: $color_text_main;
    letter-spacing: 0.03em;
  }

  @media screen and (max-width: 960px) {
    padding-top: 20px;
    .top {
      .flexwrap {
        flex-wrap: wrap;
        .footCol {
          width: 100%!important;
          text-align: center;
          padding-left: 20px!important;
          padding-right: 20px!important;
          &:before {
            display: none;
          }
        }
      }
    }
  }
}


@media screen and (max-width:960px) {
  .site-header {
    height: 70px;
    padding: 15px 20px;
    background: #FFF;
    .rightCol {
      display: none;
    }
    .site-logo {
      width: 200px;
    }
    
    .MobileHeader {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 20;
      width: 90px;
    }

    .mobile-menu-bar {
      appearance: none;
      border: none;
      background: transparent;
      width: 40px;
      height: 40px;
      padding: 0 0;
      margin: 0 0;
      position: absolute;
      top: 15px;
      right: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      span.bar {
        position: relative;
        width: 80%;
        height: 3px;
        background: #000;
        &:before, &:after {
          content:"";
          display: block;
          width: 100%;
          height: 100%;
          background: #000;
        }
        &:before {
          transform: translateY(-10px);
        }
        &:after {
          transform: translateY(7px);
        }
      }
    }

    .mobile-navigation {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,.25);
      overflow: hidden;
      display: none;
      transition: all ease .5s;
      .mobile-menu-overlay {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 450px;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background: #FFF;
        animation-duration: .5s;
        transition: all ease .3s;
        .mobile-primary-nav {
          width: 100%;
          height: 100%;
          overflow: auto;
        }
        ul.menu {
          margin: 0 0;
          padding: 20px 0 0;
          list-style: none;
          > li {
            margin: 0 0;
            padding: 2px 0;
            border-bottom: 1px solid #CCC;
          }
          > li > a {
            color: #000;
            display: block;
            text-decoration: none;
            padding: 12px 25px;
            font-size: 16px;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            &:hover, &:focus {
              color: $color_primary;
            }
          }
        }
      }
      .mobile-menu-close {
        appearance: none;
        border: none;
        background: transparent;
        width: 30px;
        height: 30px;
        padding: 0 0;
        margin: 0 0;
        position: absolute;
        top: 15px;
        right: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        &:before, &:after {
          content:"";
          display: block;
          width: 100%;
          height: 3px;
          background: #000;
          position: absolute;
          top: 50%;
          left: 0;
        }
        &:before {
          transform: translateY(-50%) rotate(45deg);
        }
        &:after {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
      &.open {
        display: block;
        .mobile-menu-overlay {
          animation-name: fadeInRight;
        }
      }
      &.closed {
        display: block;
        .mobile-menu-overlay {
          right: -100vw;
          transition-delay: 0.2s;
          animation-duration: .8s;
          animation-delay: 0.1s;
          animation-name: fadeOutRight;
        }
      }
    }
  }

  body.logged-in.admin-bar {
    .site-header {
      .mobile-navigation {
        .mobile-menu-overlay {
          padding-top: 80px;
        }
        .mobile-menu-close {
          top: 60px;
        }
      }
    }
  }
}

body:not(.home) {
  .site-header {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    background: transparent!important;
    .site-logo {
      img {
        filter: brightness(0) invert(1);
      }
    }
    .main-navigation ul.menu>li>a {
      color: #FFF;
    }
  }
  .hero-internal {
    height: 400px;
    position: relative;
    .hero-inside {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: center;
      padding: 20px 30px 80px;
    }
    .hero-title {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 20;
      h1 {
        margin: 0 0;
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #FFF;
      }
    }
    .hero-image {
      margin: 0 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .category-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    z-index: 100;
    .flexwrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;
      background: $color_secondary;
      padding: 30px 30px;
      margin-top: -40px;
      min-width: 800px;
      @media screen and (max-width: 830px) {
        max-width: 100%;
        width: 90%;
      }
      a {
        display: inline-block;
        position: relative;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.08em;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        padding: 3px 10px;
        &:before {
          content:"";
          display: block;
          width: 2px;
          height: 15px;
          background: #000;
          position: absolute;
          top: 50%;
          left: -1.2rem;
          transform: translateY(-50%);
        }
        &:first-child {
          &:before {
            display: none;
          }
        }
        &.current {
          color: $color_primary;
        }
        &:hover, &:focus {
          color: $color_primary;
        }
      }
    }

    .mobile-category-selections {
      display: none;
    }

    @media screen and (max-width: 960px) {
      margin-bottom: 20px;
      .desktop-category-selection {
        display: none;
      }
      .mobile-category-selections {
        max-width: 580px;
        width: 100%;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background: $color_secondary;
        padding: 0 0;
        margin-top: -40px;
        position: relative;
        .selections {
          max-width: 100%;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          padding: 0 20px;
          button {
            width: 100%;
            appearance: none;
            border: 1px solid $color_primary;
            background-color: #FFF;
            border-radius: 0;
            padding:10px 30px;
            color: #000;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            i {
              transition: transform ease .3s;
            }
          }
          ul {
            display: none;
            margin: 0 0;
            padding: 0 20px;
            list-style: none;
            background: $color_secondary;
            position: absolute;
            left: 0;
            top: 80px;
            width: 100%;
            li {
              border-bottom: 1px solid #decbaf;
              &:last-child {
                border-bottom: none;
              }
            }
            a {
              display: block;
              padding: 15px 15px;
              text-decoration: none;
              text-align: center;
              color: #000;
              font-size: 15px;
              font-weight: 400;
              line-height: 1.2;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              &.current {
                color: $color_primary;
              }
              &:hover, &:focus {
                color: $color_primary;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 480px) {
      .mobile-category-selections {
        .selections {
          max-width: 100%;
          padding: 0 0;
          position: unset;
        }
      }
    }
  }

  .portfolio-content .entry-content {
    margin-bottom: 40px;
  }
}

body.page-template-page-portfolio {
  .fancybox-toolbar,.fancybox-infobar {
    display: none!important;
  }
  .fancybox-container .fancybox-inner {
    width: 90vw;
    height: 80%!important;
    background: #FFF;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-duration: 1s;
    animation-name: fadeIn;
    .fancybox-button {
      div {
        background: $color_primary!important;
        position: relative;
        &:before {
          content:"";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-size: 65%;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('images/nav.png');
        }
      }
      svg {
        display: none!important;
      }
      &.fancybox-button--arrow_left {
        transform: translateX(-25px);
      }
      &.fancybox-button--arrow_right {
        transform: translateX(25px);
      }
      &.fancybox-button--arrow_left div:before {
        transform: scaleX(-1);
      }
      &[disabled] {
        opacity: 0.35!important;
      }
    }
    .fancybox-slide {
      padding-top: 40px!important;
      padding-bottom: 60px!important;
    }
    .fancybox-content {
      // border-left: 50px solid #FFF;
      // border-right: 50px solid #FFF;
    }
    .fancybox-caption {
      background: transparent!important;
      .fancybox-caption__body {
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: 50px;
        padding: 13px 20px 12px;
        background: #DBE7E1;
        color: #000;
        font-size: 16px;
        letter-spacing: 0.08em;
        @media screen and (max-width: 768px) {
          width: 95%;
        }
        span {
          display: inline-block;
          position: relative;
          padding-left: 20px;
          padding-right: 20px;
          &:before {
            content:"";
            display: block;
            width: 1px;
            height: 16px;
            background: #000;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
          &:first-child:before {
            display: none;
          }
        }
      }
    }
    @media screen and (min-width: 1251px) {
      width: 60vw;
    }
  }

  h3:has(em) {
    font-family: $font_cursive!important;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.2;
    margin: 30px 0 0;
    em {
      font-style: normal!important;
    }
  }
}
.masonry .grid-item {
  // transition: transform ease .2s, opacity ease .8s;
  transition: opacity ease .8s;
}
// .masonry .grid-item.is-appended {
//   opacity: 0;
//   &.is-visible {
//     opacity: 1;
//   }
// }

.gallery-list {
  padding-bottom: 80px;
  @media screen and (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .flexwrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    .grid-sizer, .fbox {
      width: 33.333%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .fbox {
      padding: 30px;
      figure {
        margin: 0 0;
        animation-duration: 1s;
        animation-name: fadeIn;
        img {
          width: 100%;
          height: auto;
        }
      }
      a.imageLink {
        display: block;
        text-decoration: none!important;
        transition: all ease .3s;
        img {
          transition: all ease .3s;
        }
        &:hover {
          transform: translateY(-5px);
          img {
            box-shadow: 0 3px 15px rgba(0,0,0,.15);
          }
        }
      }
      figcaption {
        margin: 10px 0 0;
        text-align: center;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.05em;
        color: $color_text_main;
        .title {
          text-transform: uppercase;
        }
        .size {
          font-size: 15px;
          margin-top: 2px;
        }
        .price {
          font-family: $font_cursive;
          font-size: 30px;
          color: $color_primary;
        }
      }

      &.appended {
        figure {
          animation-delay: 1s;
        }
      }
    }
  }
}
body.page-template-page-news {
  #main {
    padding-top: 40px;
  }
  &:has(.category-container) #main {
    padding-top: 0;
  }
}
.news-content {
  .gallery-list {
    .title {
      font-weight: 600;
      color: $color_primary;
    }
    .read-more {
      display: inline-block;
      transition: all ease .3s;
      margin-top: 20px;
      color: $color_primary;
      border-bottom: 1px solid $color_primary;
    }
    a.articleLink {
      &:hover {
        .read-more {
          color: #000;
        }
      }
    }
    .no-image a.articleLink {
      border: 1px solid #CCC;
      border-radius: 0;
      padding: 20px 30px 35px;
      &:hover {
        border-color: $color_primary;
      }
    }
  }
}

.load-more-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .button {
    min-width: 170px;
  }
}

#main .entry-content .gallery[class*="gallery-columns-"] {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  figure {
    max-width: 420px;
    width: 100%;
    margin: 15px auto;
    padding: 15px;
    div, a {
      display: block;
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  @include tab {
    figure {
      width: 33.333%;
      margin: 0 0;
    }
    &.gallery-columns-2 figure {
      width: 50;
    }
    &.gallery-columns-3 figure {
      width: 33.333%;
    }
    &.gallery-columns-4 figure {
      width: 25%;
    }
    &.gallery-columns-5 figure {
      width: 20%;
    }
    &.gallery-columns-6 figure {
      width: 16.66666%;
    }
  }
}

#main .entry-content:has(.gallery[class*="gallery-columns-"]) {
  .entry-content-column {
    margin-bottom: 20px;
  }
}

body:not(.home) {
  #main {
    min-height: 20em;
  }
}

body.error404,
body.no-hero-image:not(.home) {
  .site-header {
    position: relative;
    box-shadow: 0 -5px 15px rgba(0,0,0,.25);
    .site-logo img {
      filter: none;
    }
    .main-navigation ul.menu>li>a {
      color: #000;
    }
  }
  #content {
    padding-top: 30px;
    padding-bottom: 60px;
    @include tab {
      padding-top: 60px;
    }
    main.wrapper {
      max-width: 1400px;
      h1.page-title {
        font-weight: 400;
        font-size: 35px;
        line-height: 1.2;
        margin: 0 0 30px;
      }
    }
  }
}

body.error404 {
  padding-top: 50px;
  #main {
    max-width:900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-weight: 400;
      margin: 0 0;
    }
    #sitemap {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      ul {
        margin: 0 0;
        padding: 0 0;
        list-style: none;
        column-count: 3;
        text-align: left;
        @media screen and (max-width: 850px) {
          column-count: 2;
        }
        @media screen and (max-width: 500px) {
          column-count: 1;
        }
        li {
          display: block;
          break-inside: avoid-column;
          min-width: 200px;
          padding: 5px 0;
          a {
            &:hover {
              color: black;
            }
          }
          @media screen and (max-width: 500px) {
            text-align: center;
          }
        }
      }
    }
  }
}

.entry-content-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @include tab {
    flex-direction: row-reverse;
  }
  .featured-image {
    width: 100%;
    margin: 30px 0 0;
    @include tab {
      width: 45%;
      margin-top: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  article {
    width: 100%;
    @include tab {
      width: 51%;
    }
    p {
      margin-top: 0;
    }
  }
  &:has(.gallery) {
    align-items: unset;
  }
}

